.jumbotron{
	padding: 1%;
	background-color: green;
	opacity: 0.8;
}

.jumbotron .container{
	margin-top:10%;
}
.jumbotron h1{
	font-size:70px;
	text-align: center;
	color:yellow;
	margin-top: 2px;
	margin-bottom: 3px;
}
.jumbotron p{
	font-size:28px;
	text-align: center;
	color:white;
}
.titulos{
	margin-top: 3%;
	margin-bottom: 3%;
	padding:10px;
	text-align: center;
	background-color:#74D941;
	border-radius: 25px;
	font-size: 30px;
}
.container{
	margin-top: 3%;
	margin-bottom: 3%;
	padding:10px;
}
.destinos {
	margin-top: 3%;
	margin-bottom: 3%;
	padding:10px;
}
.destinos button{
	padding: 3%;
	font-size: 18px;
	text-align: center;

}

.listahoteles img{
	margin: 3px 5px;

}

.listahoteles h3{
	margin-bottom: 3%;
	padding: 2%;
}
.listahoteles button{
	width: 75%;
	padding:5px ;
	font-size: 18px;
	position: inherit;
	bottom: 2%;
	align-content: center;
	margin-left: 10%;
	margin-top: 5%;
}
.listahoteles img{
	padding-bottom: 2%;
	margin-bottom: 3%;


}

.listahoteles p{
	padding: 5%;
}
.hfooter h5{
	text-align: center;
}

.precios , .box-precios{
	margin-top: 30px;
	padding: 5px 15px;
}

.contacto{
	margin: 120px 200px;
	padding:20px;
	border-radius: 20px;
	line-height: 24px;

}

.somos{
	padding: 5%;
}

.migas{
	
	margin-top: 100px;
}


footer{

	margin-top: 4%;
	padding: 3%;
	background-color: #74D941;
	font-size: 17px;
	color:#2363a8;
	font-family: sans-serif;
}
footer .footer4 h5{
	font-weight: bolder;
}